.ShortenUrl {
    width: 100%;
    /* background-color: #8fdbe5; */
    display: flex;
    flex-flow: column;
    align-items: center;
    /* box-shadow: 0 2px 1px #ccc; */
    margin: auto;
    padding: 10px 0;
}

.Input {
    width: 80%;
    padding: 7px;
    outline: none;
    margin: 10px 0;
    background-color:#ffffff;
    border-radius: 5px;
    border: 0px;
    font-size: 1.4em;
}

.LinkContainer {
    margin: auto;
    width: 60%;
    align-items: center;
    padding: 5px;
}

.ShortButton {
    /* background-color: #da7735; */
    outline: none;
    cursor: pointer;
    /* border: 1px solid #919191; */
    /* color: #ffffff; */
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    border-radius: 5px;
    /* box-shadow: 2px 2px 2px #919191; */
}